<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-4.2.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
				http://www.springframework.org/schema/tx
			    http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
    <context:component-scan  base-package="com.offcn.service"/>
    <!--事务管理对象-->
    <bean id="transActionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property  name="dataSource" ref="datasource"/>
    </bean>
    <!--配置事务通知-->
    <tx:advice transaction-manager="transActionManager" id="advice">
        <tx:attributes>
            <tx:method name="find*" propagation="NEVER" read-only="true"/>
            <tx:method name="select*" propagation="NEVER" read-only="true"/>
            <tx:method name="search*" propagation="NEVER" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED" read-only="false"/>

        </tx:attributes>
    </tx:advice>
    <!--配置切入点表达式-->
    <aop:config>
        <aop:pointcut id="pointput" expression="execution(* com.offcn.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="advice" pointcut-ref="pointput"/>
    </aop:config>
</beans>